{% extends "base.html" %}

{% block content %}
    <h2>Scientific Committee</h2>

    <ul>
        <li><b>Valmor de Almeida</b> (Oak Ridge National Laboratory, Oak Ridge, USA)</li>
        <li><b>Ivo Dolezel</b> (Czech Technical University, Prague, Czech Republic)</li>
        <li><b>Glen Hansen</b> (Idaho National Lab, Idaho Falls, USA)</li>
        <li><b>Pavel Karban</b> (University of West Bohemia, Pilsen, Czech Republic)</li>
        <li><b>Christopher Kees</b> (U.S. Army Engineer R&D Center, Vicksburg, USA)</li>
        <li><b>Darko Koracin</b> (Desert Research Institute, Reno, USA)</li>
        <li><b>Dmitri Kuzmin</b> (University of Erlanger, Germany)</li>
        <li><b>Stephane Lanteri</b> (INRIA, France)</li>
        <li><b>Matthias Moeller</b> (Technical University of Dortmund, Germany)</li>
        <li><b>Sascha Schnepp</b> (Technical University of Darmstadt, Germany)</li>
        <li><b>Stefan Turek</b> (Technical University of Dortmund, Germany)</li>
        <li><b>Gael Varoquaux</b> (CEA Saclay, France)</li>
    </ul>

    <h2>Organizing Committee</h2>

    <ul>
        <li><b><a href="http://hpfem.org/people/pavel">Pavel Solin</a></b>, 
            <b><a href="http://wolfweb.unr.edu/homepage/zal/">Ilya Zaliapin</a></b>  </b> (University of Nevada, Reno)</li>
        <li><b><a href="http://hpfem.org/~ghansen/research.html">Glen Hansen</a></b>
            (Idaho National Laboratory, USA)</li>
        <li><b><a href="http://chl.erdc.usace.army.mil/chl.aspx?p=s&a=Persons;401">Christopher Kees</a></b>
            (U.S. Army Engineer R&D Center, Vicksburg, USA)</li>
        <li><b><a href="http://www.dri.edu/darko-koracin">Darko Koracin</a></b>, 
            <b><a href="http://www.dri.edu/matt-reeves">Matt Reeves</a></b>
            (Desert Research Institute, Reno, USA)</li>
    </ul>
{% endblock %}

