{% extends "base.html" %}

{% block content %}
    <h2>Scientific Committee</h2>

    <ul>
        <li><b>Zdenek Bittnar</b> (Faculty of Civil Engineering, CTU Prague)</li>
        <li><b>Pavel Bochev</b> (Sandia National Lab, Albuquerque, USA)</li>
        <li><b>Jean-Frederick Gerbeau</b> (INRIA Rocquencourt, France)</li>
        <li><b>Brian Granger</b> (CalPoly, San Luis Obispo, USA)</li>
        <li><b>Glen Hansen</b> (Idaho National Lab, Idaho Falls, USA)</li>
        <li><b>Jan Hesthaven</b> (Brown University, Providence, USA)</li>
        <li><b>Ronald Hoppe</b> (University of Houston, USA)</li>
        <li><b>Dmitri Kuzmin</b> (University of Dortmund, Germany)</li>
        <li><b>Stephane Lanteri</b> (INRIA, France)</li>
        <li><b>Mark Taylor</b> (Sandia National Lab, Albuquerque, USA)</li>
        <li><b>Stefan Turek</b> (Technical University of Dortmund, Germany)</li>
        <li><b>Gael Varoquaux</b> (CEA Saclay, France)</li>
    </ul>

    <h2>Organizing Committee</h2>

    <ul>
        <li><b><a href="http://hpfem.math.unr.edu/people/pavel">Pavel Solin</a></b>
            (University of Nevada, Reno &amp; Institute of Thermomechanics, Prague)</li>
        <li><b><a href="http://home.zcu.cz/~karban/main/curriculum.php">Pavel Karban</a></b>
            (University of West Bohemia, Pilsen)</li>
        <li><b><a href="http://ntc.zcu.cz/en/staff/cimrman_r.html">Robert Cimrman</a></b>
            (New Technologies Research Centre, Pilsen)</li>
        <li><b><a href="http://mech.fsv.cvut.cz/web/people.php?id=23">Jaroslav Kruis</a></b>
            (Czech Technical University, Prague)</li>
    </ul>
{% endblock %}

