{% extends "base.html" %}

{% block content %}

    <h2>Confirmed Keynote Speakers</h2>

    <ul>
        <li><b>Phillip Colella</b> (Lawrence Berkeley National Laboratory)</li>
        <li><b>Clint Dawson</b> (University of Texas, Austin)</li>
        <li><b>Michael Heroux </b> (Sandia National Labs, Albuquerque)</li>
        <li><b>Robert Montgomery </b> (ANATECH Corporation, San Diego)</li>
        <li><b>John Shadid</b> (Sandia National Labs, Albuquerque)</li>
    </ul>


    <h2>Scientific Committee</h2>

    <ul>
        <li><b>Valmor de Almeida</b> (Oak Ridge National Laboratory, Oak Ridge, USA)</li>
        <li><b>Ivo Dolezel</b> (Czech Technical University, Prague, Czech Republic)</li>
        <li><b>Glen Hansen</b> (Idaho National Lab, Idaho Falls, USA)</li>
        <li><b>Pavel Karban</b> (University of West Bohemia, Pilsen, Czech Republic)</li>
        <li><b>Christopher Kees</b> (U.S. Army Engineer R&amp;D Center, Vicksburg, USA)</li>
        <li><b>Matthew Knepley</b> (University of Chicago, USA)</li>
        <li><b>Darko Koracin</b> (Desert Research Institute, Reno, USA)</li>
        <li><b>Dmitri Kuzmin</b> (University of Erlangen-Nuremberg, Germany)</li>
        <li><b>Stephane Lanteri</b> (INRIA, France)</li>
        <li><b>Matthias Moeller</b> (Technical University of Dortmund, Germany)</li>
        <li><b>Sascha Schnepp</b> (Technical University of Darmstadt, Germany)</li>
        <li><b>Stefan Turek</b> (Technical University of Dortmund, Germany)</li>
        <li><b>Gael Varoquaux</b> (CEA Saclay, France)</li>
    </ul>

    <h2>Organizing Committee</h2>

    <ul>
        <li><b>Pavel Solin</b> (chair), University of Nevada, Reno</li>
        <li><b>Glen Hansen</b>
            Idaho National Laboratory, Idaho Falls</li>
        <li><b>Christopher Kees</b>
            U.S. Army Engineer R&amp;D Center, Vicksburg</li>
        <li><b>Darko Koracin</b>,
            <b>Matt Reeves</b>,
            Desert Research Institute, Reno</li>
    </ul>
{% endblock %}

