{% extends "base.html" %}

{% block content %}

    <h2>Hotel Information</h2>

<p>
    All FEMTEC participants need to book their accommodation with the Harvey's Casino and 
    Resort. An overview of prices is given in the following table:

    <table>
        <thead>
            <tr>
                <td>Lodging and Food Cost</td>
                <td> </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mountain Tower rooms</td>
                <td>$79 + tax (per night)</td>
            </tr>
            <tr>
                <td>Lake Tower rooms</td>
                <td>$99 + tax (per night)</td>
            </tr>
            <tr>
                <td>Meals</td>
                <td>$320 (one time, per person)</td>
            </tr>
        </tbody>
    </table>

<p>
The food charge covers meals for the entire duration of the conference and it is paid 
to the hotel along with lodging. The meals include a breakfast buffet, lunch and coffee 
breaks each day, as well as a Welcome Reception on Monday and a Farewell Party on Thursday.
Participants will special dietary needs can indicate this in the online registration form.  
</p>

<p>
Reservations can be done using Internet (link coming soon) or the 
toll-free number <b>1-800-455-4770</b>. A $20 surcharge per 
guest, per room, per night will apply for each additional person over 2 people regardless 
of age. In order to receive these discounted prices, mention that you attend the FEMTEC 
2011 conference. You will be asked to provide a group code which is <b>S05FEMT</b>.
</p>

<p>
There will be free high-speed wireless Internet in the lecture rooms, 
and free parking in the hotel's garage.  
</p>

<p>
    According to the hotel's policy, any individual cancellation within 
    72 hours from the date of arrival or "no shows" will be charged first 
    night room and tax to the credit card on file. The food charge is
    refundable if cancellation is made before May 5, and it is non-refundable
    if cancellation is done on May 6 or later.
    Check in time is 4:00 PM and checkout time is 12:00 noon. 
</p>

<p>
    The above prices are valid
    through <b>March 11, 2011</b>. After that, the room block will be cancelled and regular 
    hotel pricing will apply. Even after March 11, all FEMTEC participants still need to 
    book their accommodation and meals with the Harvey's Casino and Resort.
</p>

{% endblock %}

