{% extends "base.html" %}

{% block content %}
    <h2>Confirmed Keynote Speakers</h2>

    <ul>
        <li><b>Zdenek Bittnar</b> (Czech Technical University, Prague)</li>
        <li><b>Jean-Frédéric Gerbeau</b> (INRIA Rocquencourt, France)</li>
        <li><b>Glen Hansen</b> (Multiphysics Methods Group, Idaho National Laboratory, Idaho Falls, USA)</li>
        <li><b>Ronald Hoppe</b> (University of Houston, USA)</li>
        <li><b>William Mitchell</b> (National Institute of Standards and Technology (NIST), Gaithersburg, USA)</li>
        <li><b>Gael Varoquaux</b> (Centre d'Etudes Nucléaires de Saclay, France)</li>
    </ul>
{% endblock %}

