{% extends "base.html" %}

{% block content %}
    <h2>Confirmed Keynote Speakers</h2>
    <ul>
        <li><b>Phillip Colella</b> (Lawrence Berkeley National Laboratory)</li>
        <li><b>Clint Dawson</b> (University of Texas, Austin)</li>
        <li><b>Michael Heroux </b> (Sandia National Labs, Albuquerque)</li>
        <li><b>Lee Taylor</b> (ANATECH Corporation, San Diego)</li>
        <li><b>John Shadid</b> (Sandia National Labs, Albuquerque)</li>
    </ul>

    <h2>Preliminary List of Participants</h2>
    <ul>
        <li><b>Valmor de Almeida</b> (Oak Ridge National Laboratory, Oak Ridge, USA)</li>
        <li><b>Murat Altekin</b> (Yildiz Technical University, Istanbul, Turkey)</li>
        <li><b>Travis Austin</b> (Tech-X Corporation, Boulder, USA)</li>
        <li><b>Boris Azarenok</b> (Dorodnicyn Computing Center of Russian Academy of Sciences, Moscow, Russia)</li>
        <li><b>Kishore Bala</b> (Anna University, Pollachi, India)</li>
        <li><b>Radian Belu</b> (Drexel University, Philadelphia, USA)</li>
        <li><b>Martin Berzins</b> (SCI Institute University of Utah, Salt Lake City, USA)</li>
        <li><b>Abhinav Bhaskar</b> (Manipal University, Mumbai)</li>
        <li><b>Melanie Bittl</b> (University of Erlangen-Nuremberg, Germany)</li>
        <li><b>Norbert Böttcher</b> (Dresden University of Technology, Dresden, Germany)</li>
        <li><b>Priyvardhan Chavan</b> (State University of New York, Buffalo, USA)</li>
        <li><b>Irina Ciobanescu Husanu</b> (Drexel University, Philadelphia, USA)</li>
        <li><b>Brett W. Clark</b> (Sandia National Laboratories, Albuquerque, New Mexico, USA)</li>
        <li><b>Ivo Dolezel</b> (Czech Rechnical University, Prague, Czech Republic)</li>
        <li><b>Rod Douglass</b> (Los Alamos National Laboratory, Los Alamos, USA)</li>
        <li><b>Stephane Durand</b> (Ghent University, Ghent, Belgium)</li>
        <li><b>Felipe Díaz Reyes</b> (Electrical Engineering Dept. University of Las Palmas de Gran Canaria, Las Palmas de Gran Canaria, Spain)</li>
        <li><b>Mohamed Ebeida</b> (Sandia National Laboratories, Albuquerque, USA)</li>
        <li><b>Garuda Fujii</b> (Nagoya University, Nagoya, Japan)</li>
        <li><b>Lei Gan</b> (Hohai University, China)</li>
        <li><b>Stefano Giani</b> (University of Nottingham, United Kingdom)</li>
        <li><b>Harri Hakula</b> (Aalto University, Espoo, Finland)</li>
        <li><b>Glen Hansen</b> (Idaho National Laboratory, Idaho Falls, USA)</li>
        <li><b>X. B. He</b> (School of Civil Engineering and Architecture, Chongqing Jiaotong University, Chongqing, China)</li>
        <li><b>Miguel Hernandez IV</b> (The University of Texas, El Paso, TX, USA)</li>
        <li><b>Jeffrey Heys</b> (Montana State University, Bozeman, USA)</li>
        <li><b>Karthik Jayaraman Raghuram</b> (Dept. of Electrical and Computer Engineering, UC Santa Barbara, Santa Barbara, United States)</li>
        <li><b>Jinhua Jiang</b> (Desert Research Institute, Reno, USA)</li>
        <li><b>Pavel Karban</b> (University of West Bohemia, Pilsen, Czech Republic)</li>
        <li><b>Chris Kees</b> (U.S. Army ERDC, Vicksburg, MS, USA)</li>
        <li><b>Rung Kittipichai</b> (Mahidol University, Nakhon Pathom, Thailand)</li>
        <li><b>Tzanio Kolev</b> (Lawrence Livermore National Laboratory, Livermore, CA, USA)</li>
        <li><b>Lukas Korous</b> (Charles University, Prague, Czech Republic)</li>
        <li><b>Anna Kucerova</b> (Czech Technical University in Prague, Faculty of Civil Engineering, Dept. of Mechanics, Prague, Czech Republic)</li>
        <li><b>Michal Kuraz</b> (Czech University of Life Sciences Prague, Faculty of Environmental Sciences, Department of Water Resources and Environmental Modeling, Praha, Czech Republic)</li>
        <li><b>Stephen Langer</b> (National Institute of Standards in Technology, Gaithersburg, USA)</li>
        <li><b>Shengtai Li</b> (Los Alamos National Laboratory, Los Alamos, USA)</li>
        <li><b>Zhonghua Ma</b> (China University of Petroleum-Beijing, Beijing, China)</li>
        <li><b>Frantisek Mach</b> (University of West Bohemia, Pilsen, Czech Republic)</li>
        <li><b>J. D. McAlpine</b> (University of Nevada and Desert Research Institute, Reno, USA)</li>
        <li><b>David Meeker</b> (QinetiQ North America, Waltham, MA, USA)</li>
        <li><b>Jan Novak</b> (CTU in Prague, Faculty of Civil Engineering, Dept. of Mechanics, Prague, Czech Republic)</li>
        <li><b>Steve Owen</b> (Sandia National Laboratories, Albuquerque, USA)</li>
        <li><b>Alberto Paoluzzi</b> (University of Rome, Rome, Italy)</li>
        <li><b>Mateusz Paprocki</b> (University of Nevada, Reno, USA)</li>
        <li><b>Daniel Peterseim</b> (Humboldt-Universitaet zu Berlin, Berlin, Germany)</li>
        <li><b>Senol Piskin</b> (Istanbul Technical University, Istanbul, Istanbul)</li>
        <li><b>David Pugal</b> (University of Nevada, Reno, USA)</li>
        <li><b>Amuthan Arunkumar Ramabathiran</b> (Indian Institute of Science, Bangalore, India)</li>
        <li><b>Andrew Reid</b> (National Institute of Standards and Technology, Gaithersburg, USA)</li>
        <li><b>Jose Roca</b> (Pontificia Universidade Catolica do Rio de Janeiro, Rio de Janeiro, Brazil)</li>
        <li><b>Erick Santiago</b> (University of Nevada, Reno, USA)</li>
        <li><b>Michal Sejnoha</b> (Czech Technical University in Prague, Faculty of Civil Engineering, Dept. of Mechanics, Prague, Czech Republic)</li>
        <li><b>Tarun Kumar Sheel</b> (StFx University, Antigonish, Canada)</li>
        <li><b>Mukul Shukla</b> (University of Johannesburg, South Africa)</li>
        <li><b>Tuhin Sinha</b> (Purdue University, West Lafayette, USA)</li>
        <li><b>Marian Slodicka</b> (Ghent University, Gent, Belgium)</li>
        <li><b>Pavel Solin</b> (University of Nevada, Reno, USA)</li>
        <li><b>Orlando Soto</b> (Science Applications International Corporation, Mclean, USA)</li>
        <li><b>Jan Sykora</b> (CTU in Prague, Faculty of Civil Engineering, Dept. of Mechanics, Prague, Czech Republic)</li>
        <li><b>Rachid Touzani</b> (Université Clermont-Ferrand, Aubière, France)</li>
        <li><b>Jens Trommler</b> (TU Darmstadt, TEMF, Darmstadt, Germany)</li>
        <li><b>Jan Vorel</b> (CTU in Prague, Faculty of Civil Engineering, Prague, Czech Republic)</li>
        <li><b>Marc Walther</b> (Technische Universität Dresden, Dresden, Germany)</li>
        <li><b>John Wang</b> (GE Aviation Systems, Grand Rapids, MI, USA)</li>
        <li><b>Thomas Witkowski</b> (Technichal University Dresden, Dresden, Germany)</li>
        <li><b>Xu Zhang</b> (Virginia Tech, Blacksburg, USA)</li>
        <li><b>Xiaopeng Zhao</b> (University of Tennessee at Knoxville, Knoxville, USA)</li>
    </ul>
{% endblock %}

