{% extends "base.html" %}

{% block content %}
    <h2>Payment Information</h2>

    <p>
        Anticipated registration fees for <b>FEMTEC 2011</b> are as follows:
    </p>

    <table>
        <thead>
            <tr>
                <td>Registration fee</td>
                <td>By March 15, 2011</td>
                <td>After March 15, 2011</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Regular participants</td>
                <td>350 USD</td>
                <td>550 USD</td>
            </tr>
            <tr>
                <td>Student participants</td>
                <td>250 USD</td>
                <td>450 USD</td>
            </tr>
            <tr>
                <td>Accompanying persons</td>
                <td>250 USD</td>
                <td>450 USD</td>
            </tr>
        </tbody>
    </table>

    <p>
        The regular and student fees cover all conference materials, book of abstracts, conference lunches,
        coffee breaks, welcome reception, and farewell party. The accompanying person fee covers
        conference lunches, welcome reception, and farewell party.
    </p>

    <h3>Payment Instructions</h3>

    <ul>
        <li style="text-align: justify">
            All payments are routed through a central account of Bank of America to a central
            UNR account where they need to be identified among hundreds of other payments.
            Please make sure to include the name "FEMTEC 2011" in the wire details.
        </li>
        <li style="text-align: justify">
            Scanned copy of your payment receipt must be sent 
            via e-mail to <a href="mailto:femtec2011@unr.edu">femtec2011@unr.edu</a>.
        </li>
        <li>
            All bank fees have to be paid by the sender.

            <h4>Bank information</h4>

            Bank of America<br>
            401 South Virginia Street, Reno, NV 89502<br>
            Account number: 5011455966<br>
            Account owner: University of Nevada, Reno<br>
            Routing number for incoming wires: 026009593<br>
            SWIFT code: BOFAUS3N<br>
        </li>
    </ul>
{% endblock %}

