{% extends "base.html" %}

{% block content %}
    <h2>Payment Information</h2>

    <p>
        Registration fees for <b>FEMTEC 2011</b> conference are as follows:
    </p>

    <table>
        <thead>
            <tr>
                <td>Registration fee</td>
                <td>By March 15, 2010</td>
                <td>After March 15, 2010</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Regular participants</td>
                <td>350 EUR</td>
                <td>500 EUR</td>
            </tr>
            <tr>
                <td>Student participants</td>
                <td>250 EUR</td>
                <td>400 EUR</td>
            </tr>
            <tr>
                <td>Accompanying persons</td>
                <td>200 EUR</td>
                <td>250 EUR</td>
            </tr>
        </tbody>
    </table>

    <p>
        The regular and student fees cover all conference materials, book of abstracts, conference lunches,
        coffee breaks, welcome reception, farewell party, and excursion. The accompanying person fee covers
        conference lunches, welcome reception, farewell party, and excursion.
    </p>

    <h3>Payment Instructions</h3>

    <ul>
        <li style="text-align: justify">
            All payments are routed through a central account of Bank of America to a central
            UNR account where they need to be identified among thousands of other payments.
            Please make sure to include the name "FEMTEC" in the wire details.
        </li>
        <li style="text-align: justify">
            After the payment, please scan the copy of your payment confirmation and send
            via e-mail to <a href="mailto:femtec2011@unr.edu">femtec2011@unr.edu</a>. This
            serves as a proof of payment and helps track lost payments.
        </li>
        <li>
            All bank fees have to be paid by the sender.

            <h4>Bank information</h4>

            Bank of America<br>
            401 South Virginia Street, Reno, NV 89502<br>
            Account number: 5011455966<br>
            Account owner: University of Nevada, Reno<br>
            Routing number for incoming wires: 026009593<br>
            SWIFT code: BOFAUS3N<br>
        </li>
    </ul>
{% endblock %}

