{% extends "base.html" %}

{% block content %}
    <h2>Payment Information</h2>

    <p>
        FEMTEC is a not-for-profit conference. Registration fees were calculated 
        to cover basic logistics, preparation and printing of conference 
        materials, conference facilities, audio-visual services, and expenses 
        of invited keynote speakers. 
    </p>

    <table>
        <thead>
            <tr>
                <td>Registration fee</td>
                <td>By March 1, 2011</td>
                <td>After March 1, 2011</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Regular participants</td>
                <td>350 USD</td>
                <td>550 USD</td>
            </tr>
            <tr>
                <td>Student participants</td>
                <td>250 USD</td>
                <td>450 USD</td>
            </tr>
        </tbody>
    </table>

    <p>
        Registration fee is to be paid to University of Nevada, Reno.
        A separate fee to cover conference breakfasts, lunches and coffee breaks, as well 
        as a Welcome Reception and Farewell Party, is paid to the Harvey's Casino 
        and Resort together with accommodation. See the 
        <a href="http://hpfem.org/events/femtec-2011/hotel/">Hotel Information</a> section 
        for more details.
    </p>

    <h3>Payment Instructions</h3>

    <ul>
        <li style="text-align: justify">
            Payments of conference fees are routed through a central account of Bank of America to a central
            UNR account where they need to be identified among hundreds of other payments.
            Please make sure to include the name "FEMTEC 2011" in the wire details.
        </li>
        <li style="text-align: justify">
            Scanned copy of your payment receipt must be sent 
            via e-mail to <a href="mailto:femtec2011@unr.edu">femtec2011@unr.edu</a>.
        </li>
        <li>
            All bank fees have to be paid by the sender. This is particularly important 
            when sending payment from an overseas bank.
            

            <h4>Bank information</h4>

            Bank of America<br>
            401 South Virginia Street, Reno, NV 89502<br>
            Account number: 5011455966<br>
            Account owner: University of Nevada, Reno<br>
            Routing number for incoming wires: 026009593<br>
            SWIFT code: BOFAUS3N<br>
        </li>
    </ul>
{% endblock %}

