{% extends "base.html" %}

{% block content %}
    <h2>Post Conference Program</h2>

    <p>
        For participants wishing to spend the weekend after the conference in Prague,
        we will assist with accommodation reservation and provide a tour of the Prague
        Old Town, Charles Bridge and Prague Castle on Saturday July 3.
    </p>

    <div style="text-align: center">
        <a href="/events/femtec-2011/media/img/prague/prague.jpg">
            <img src="/events/femtec-2011/media/img/prague/prague-small.jpg" style="border: none"></img>
        </a><br>
        <a href="/events/femtec-2011/media/img/prague/prague-1.jpg">
            <img src="/events/femtec-2011/media/img/prague/prague-1-small.jpg" style="border: none"></img>
        </a>
        <a href="/events/femtec-2011/media/img/prague/prague-2.jpg">
            <img src="/events/femtec-2011/media/img/prague/prague-2-small.jpg" style="border: none"></img>
        </a>
        <a href="/events/femtec-2011/media/img/prague/prague-3.jpg">
            <img src="/events/femtec-2011/media/img/prague/prague-3-small.jpg" style="border: none"></img>
        </a>
        <a href="/events/femtec-2011/media/img/prague/prague-5.jpg">
            <img src="/events/femtec-2011/media/img/prague/prague-5-small.jpg" style="border: none"></img>
        </a>
    </div>

{% endblock %}

