{% extends "base.html" %}

{% block content %}
    <h2>Post Conference Program</h2>

    <p>
        For participants wishing to spend the weekend after the conference at Lake Tahoe,
        we will organize an optional hike into the heart of the 
        <a href="http://en.wikipedia.org/wiki/Desolation_Wilderness#Lakes">Desolation Wilderness</a> 
        on Saturday, May 14. The Desolation Wilderness is one of the most beautiful wilderness areas
        in the United States.
    </p>

    <div style="text-align: center">
        <a href="/events/femtec-2011/media/img/desolation-wilderness/aloha.jpg">
            <img src="/events/femtec-2011/media/img/desolation-wilderness/aloha.jpg" style="border: none" width=400px></img>
        </a>
    </div>
<br>
    There are many possible destinations including Echo Lakes, Eagle Lake, Lake Aloha (shown above) 
    and others, and a final selection will be made during the conference. Note that virtually all
    trails in the Desolation Wilderness are covered with sand and/or loose granite, so solid hiking 
    shoes are highly recommended.

{% endblock %}

