{% extends "base.html" %}

{% block content %}
    <h2>Conference Topics</h2>

    <h4>Multiphysics models and methods</h4>

    <ul>
        <li>Coupled problems in mechanics, electromagnetics, fluid dynamics, nuclear engineering, biosciences and other fields</li>
        <li>Coupling mechanisms for mutiphysics/multiscale problems</li>
        <li>Monolithic models, model reduction and adaptivity</li>
        <li>Automatic adaptivity: higher-order methods, transient problems</li>
        <li>Verification and validation, uncertainty treatment</li>
    </ul>

    <h4>Track on Python in scientific computing</h4>

    <ul>
        <li><a href="http://www.python.org">Python</a> scientific computing tools such as SciPy, NumPy, SymPy etc.</li>
        <li>Interactive browser tools, web-based computing and visualization.</li>
        <li>Open source projects related to finite elements, differences
            and volumes.</li>
        <li>Common platforms for scientific computing, interfacing and interoperability.</li>
    </ul>
{% endblock %}

