{% extends "base.html" %}

{% block content %}
    <h2>Travel Information</h2>

    <p>
        Registration of participants will take place in the hotel lobby on Sunday
        May 8, 2011. Dinner will be provided.
    </p>

    <h4>From Reno-Tahoe International Airport by Bus</h4>

    <p>
        We recommend to use a regular <a href="http://www.southtahoeexpress.com/">shuttle bus service</a>
        that brings you directly to Harvey's (approx. $26  one way, $46 round trip). 
    </p>

    <h4>From Reno-Tahoe International Airport by Car (60 miles, 1.25 hours)</h4>

    <p>
    Leave the airport heading west on Plumb Lane and just after the going under the overpass, 
    turn left onto US-395 South towards Carson City. Merge onto US 395 South via exit number 
    57B toward Virginia City/Carson City/South Lake Tahoe. After Carson City, merge right onto 
    US-50 West towards South Lake Tahoe. 
    </p>

    <h4>From Sacramento International Airport (approx. 115 miles - 2.5 hours)</h4>

    <p>
    Leave the airport heading North on Airport Blvd.  Merge onto I-5 South toward 
    Sacramento/Yuba City.  After approximately 10 miles, take the I-80/US-50/CA-99 exit 
    east towards Fresno/San Francisco.  Merge onto US 50 East and head toward South Lake 
    Tahoe (approx 100 miles).  Once in town, make a right on Lake Tahoe Blvd. (US-50).  
    </p>

    <h4>From Oakland International Airport (approx. 190 miles - 3.5 hours)</h4>

    <p>
    Exit the airport going Southwest on Passenger Terminal/Airport Drive toward parking.  
    Turn right onto economy parking/Alan Shepard Way.  Turn right onto economy parking/John 
    Glenn Drive.  Turn left onto Airport Drive.  Turn right onto Hegenberger Rd.  
    Merge onto I-880 North toward downtown Oakland.  I-880 becomes I-80 East.  
    Continue on I-80 east towards Sacramento/Vallejo for approximately 70 miles.  
    Continue on I-80-BR East towards Capital City Fwy/Sacramento/South Lake Tahoe.  
    Merge onto US 50 East and head toward South Lake Tahoe (approx 100 miles).  
    Once in town, make a right on Lake Tahoe Blvd. (US-50). 
    </p>

    <h4>From San Francisco International Airport (approx. 200 miles - 3.75 hours)</h4>

    <p>
    Exit the airport and Take I-380 West/US101 North/ I-280 ramp towards San Francisco.  
    Merge onto US 101 North.  Continue on I-80 East towards Bay Bridge/Oakland. Continue 
    on I-80 east towards Sacramento/Vallejo for approximately 70 miles.  Continue on I-80-BR 
    East towards Capital City Fwy/Sacramento/South Lake Tahoe.  Merge onto US 50 East and 
    head toward South Lake Tahoe (approx 100 miles).  Once in town, make a right on Lake 
    Tahoe Blvd. (US-50). 
    </p>


 {% endblock %}

