{% extends "base.html" %}

{% block content %}
    <h2>Travel Information</h2>

    <p>
        Registration of participants will take place in the lobby of the hotel Angelo Pilsen on Sunday
        June 27, 2010. Dinner will be provided.
    </p>

    <h4>Using a train from Prague</h4>

    <p>
        This is a recommended way of transportation. The trains leave from the Prague Main Railway Station
        (Praha Hlavni Nadrazi) often and the trip takes less than 2 hours. When coming through the Prague
        Airport, use the <a href="http://czech-transport.com/index.php?id=357">Airport Express</a> shuttle
        service which takes you there directly. When coming from other parts of the city, the Main Railway
        Station is a stop of the red line "C" of Prague subway. Train tickets can be purchased in the lobby
        of the railway station, or directly in the train (higher fees apply). After arriving to Pilsen, take
        a taxi to the Angelo hotel. It might be a good idea to ask about the price in advance.
    </p>
{% endblock %}

