{% extends "base.html" %}

{% block content %}
    <h2>Conference Venue</h2>

    <p>
        The conference will take place at the <a href="http://www.harrahslaketahoe.com/casinos/harrahs-lake-tahoe/hotel-casino/property-home.shtml">Harrah's Casino and Resort</a> in South Lake Tahoe, CA. 
    </p>

    <div style="text-align: center">
        
        <img src="/events/femtec-2011/media/img/tahoe/tahoe-3.jpg" width=200px height=150px style="border: none"></img>
        <img src="/events/femtec-2011/media/img/tahoe/tahoe-1.jpg" width=200px height=150px style="border: none"></img>
        <img src="/events/femtec-2011/media/img/tahoe/tahoe-2.jpg" width=200px height=150px style="border: none"></img>
        <img src="/events/femtec-2011/media/img/tahoe/tahoe-4.jpg" width=200px height=150px style="border: none"></img>
       
    </div>

<br>
A limited number of rooms have been reserved at Harrah's at reduced group price TBA (single room) and TBA (two bed room),
including breakfast. Please mention the FEMTEC 2011 conference while making a reservation. 

{% endblock %}

