{% extends "base.html" %}

{% block content %}
    <h2>Conference Venue</h2>

    <p>
        The conference will take place in the historical
        <a href="http://www.plzensky-prazdroj.cz/en/come-and-visit/pilsen-brewery/lease-of-premises">conference center Secese</a>
        of the Pilsner Urquell Brewery, and catering will be provided by the famous brewery restaurant
        <a href="http://www.plzensky-prazdroj.cz/en/come-and-visit/pilsen-brewery/na-spilce-restaurant">Na Spilce</a>.
        Pilsen is a beautiful historical city whose origins date back to the 13th
        century. An overview of the rich Pilsen's history can be found on its
        <a href="http://en.wikipedia.org/wiki/Plze%C5%88">Wikipedia page</a>.
        The city features many sightseeing attractions.
    </p>

    <div style="text-align: center">
        <a href="/events/femtec-2011/media/img/pilsen/pilsen-1.jpg">
            <img src="/events/femtec-2011/media/img/pilsen/pilsen-1-small.jpg" style="border: none"></img>
        </a>
        <a href="/events/femtec-2011/media/img/pilsen/pilsen-2.jpg">
            <img src="/events/femtec-2011/media/img/pilsen/pilsen-2-small.jpg" style="border: none"></img>
        </a>
        <a href="/events/femtec-2011/media/img/pilsen/pilsen-3.jpg">
            <img src="/events/femtec-2011/media/img/pilsen/pilsen-3-small.jpg" style="border: none"></img>
        </a>
        <a href="/events/femtec-2011/media/img/pilsen/pilsen-4.jpg">
            <img src="/events/femtec-2011/media/img/pilsen/pilsen-4-small.jpg" style="border: none"></img>
        </a>
        <a href="/events/femtec-2011/media/img/pilsen/pilsen-5.jpg">
            <img src="/events/femtec-2011/media/img/pilsen/pilsen-5-small.jpg" style="border: none"></img>
        </a>
        <a href="/events/femtec-2011/media/img/pilsen/pilsen-6.jpg">
            <img src="/events/femtec-2011/media/img/pilsen/pilsen-6-small.jpg" style="border: none"></img>
        </a>
    </div>

    <p>
        Part of the conference program will be optional tours of the
        <a href="http://www.plzensky-prazdroj.cz/en/come-and-visit/pilsen-brewery/brewery-museum-tour">Pilsner Urquell brewery museum</a>,
        <a href="http://www.plzenskepodzemi.cz/en/">historical undergrounds of Pilsen</a>, and
        <a href="http://commons.wikimedia.org/wiki/File:Katedrala_svateho_Bartolomeje.jpg">St. Bartholomeus Cathedral</a>.
    </p>
{% endblock %}

