{% extends "base.html" %}

{% block content %}
    <h2>Conference Venue</h2>

    <p>
        The conference will take place at the <a href="http://www.harveystahoe.com/casinos/harveys-lake-tahoe/hotel-casino/property-home.shtml">Harvey's Casino and Resort</a> in South Lake Tahoe, CA. 
    </p>

    <div style="text-align: center">
        
        <img src="/events/femtec-2011/media/img/tahoe/tahoe-3.jpg" width=200px height=150px style="border: none"></img>
        <img src="/events/femtec-2011/media/img/tahoe/tahoe-1.jpg" width=200px height=150px style="border: none"></img>
        <img src="/events/femtec-2011/media/img/tahoe/tahoe-2.jpg" width=200px height=150px style="border: none"></img>
        <img src="/events/femtec-2011/media/img/tahoe/tahoe-4.jpg" width=200px height=150px style="border: none"></img>
       
    </div>
<br>

    <h2>Reserving Accommodation</h2>

<p>
    All FEMTEC participants need to book their accommodation with the Harvey's Casino and 
    Resort, using a toll-free number <b>1-800-455-4770</b>. There are two room options: 
    Mountain Tower Room at $79 + tax and Lake Tower Room at $99 + tax. A $20 surcharge per 
    guest, per room, per night will apply for each additional person over 2 people regardless 
    of age. In order to receive these discounted prices, mention that you attend the FEMTEC 
    2011 conference. You will be asked 
    to provide a group code which is <b>S05FEMT-SN</b>. At the time of reservation, each
    participant will also pay a $320 fee to cover conference breakfasts, lunches, coffee breaks,
    a Welcome Reception and a Farewell Party.  
</p>

<p>
    According to the hotel's policy, any individual cancellation within 
    72 hours from the date of arrival or "no shows" 
    will be charged first night room and tax to the credit card on file.
    Check in time is 4:00 PM and checkout time is 12:00 noon. 
</p>

<p>
    The above prices are valid
    through <b>March 11, 2011</b>. After that, the room block will be cancelled and regular 
    hotel pricing will apply. Even after March 11, all FEMTEC participants still need to 
    book their accommodation with the Harvey's Casino and Resort.
</p>

{% endblock %}

