<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>FEMTEC 2011 - 3rd International Conference on Finite Element Methods in Engineering and Science</title>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

        <link type="text/css" href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" />
        <link type="text/css" href="{{ MEDIA_URL }}css/menus.css" rel="stylesheet" />
        <link type="text/css" href="{{ MEDIA_URL }}css/boxes.css" rel="stylesheet" />
        <link type="text/css" href="{{ MEDIA_URL }}css/forms.css" rel="stylesheet" />
        <link type="text/css" href="{{ MEDIA_URL }}css/notes.css" rel="stylesheet" />

        <script src="{{ MEDIA_URL }}js/jquery/jquery.js"></script>

        {% block styles %}{% endblock %}
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <div id="background">
            <div id="container">
                <div id="header">
                    {% if user.is_authenticated %}
                        <span class="bold">
                            {{ user.get_full_name }}
                        </span>
                        {% if user.is_staff and user.is_superuser %}
                            (<a href="/events/femtec-2011/admin/">admin</a>)
                        {% endif %}
                        <span class="bar">|</span>
                        <a href="/events/femtec-2011/account/logout/">logout</a>
                    {% else %}
                        <a href="/events/femtec-2011/account/login/">login</a>
                        <span class="bar color">|</span>
                        <a href="/events/femtec-2011/account/create/">create account</a>
                    {% endif %}
                </div>
                <div id="banner"></div>
                <div class="box left">
                    <div class="title">Main Menu</div>
                    <ul class="menu">
                        <li><a href="/events/femtec-2011/">Home Page</a></li>
                        <li><a href="/events/femtec-2011/committees/">Speakers and Committees</a></li>
                        <li><a href="/events/femtec-2011/payment/">Payment Information</a></li>
                        <li><a href="/events/femtec-2011/venue/">Conference Venue</a></li>
                        <li><a href="/events/femtec-2011/hotel/">Hotel Information</a></li>
                        <li><a href="/events/femtec-2011/travel/">Travel Information</a></li>
                        <li><a href="/events/femtec-2011/postconf/">Post Conference Program</a></li>
                        <li><a href="/events/femtec-2011/contact/">Contact</a></li>
                    </ul>
                </div>
                <div class="box right">
                    <div class="title">Important Dates</div>
                    <ul class="list">
                        <li class="head">December 15, 2010</li>
                        <li class="tail">Abstract submission deadline.</li>
                        <li class="head">January 15, 2011</li>
                        <li class="tail">Notification of acceptance.</li>
                        <li class="head">March 1, 2011</li>
                        <li class="tail">Early registration fee payment.<br>
                                         Hotel reservation at group rate.</li>
                        <li class="head">June 30, 2011</li>
                        <li class="tail">Final paper submission.</li>
                    </ul>
                </div>
                <div class="box right">
                    <div class="title">Latest News</div>
                    <ul class="list">
                        <li class="head">October 10, 2010</li>
                        <li class="tail">FEMTEC 2011 website launched.</li>
                    </ul>
                </div>
                <div class="box right">
                    <div class="title">FEMTEC 2011 Color Flyer</div>
                    <ul class="list">
                        <li class="tail">The flyer for FEMTEC 2011 in PDF can be found
                        <a href="{{ MEDIA_URL }}img/flyer-femtec-2011.pdf">here</a>.</li>
                    </ul>
                </div>
                {% if user.is_authenticated %}
                <div class="box left">
                    <div class="title">User Menu</div>
                    <ul class="menu">
                        <li><a href="/events/femtec-2011/account/">User Home</a></li>
                        <li><a href="/events/femtec-2011/account/profile/">Edit Profile</a></li>
                        {% if user.get_profile.speaker %}
                        <li><a href="/events/femtec-2011/account/abstracts/">Submit Abstract</a></li>
                        {% endif %}
                        <li><a href="/events/femtec-2011/account/password/change/">Change Password</a></li>
                        <li><a href="/events/femtec-2011/account/delete/">Delete Account</a></li>
                    </ul>
                </div>
                {% endif %}
                <div class="box right">
                    <div class="title">Previous FEMTEC 2009</div>
                    <ul class="list">
                        <li class="tail">Previous FEMTEC 2009 took place at the Granlibakken
                        Conference Center, Tahoe City, CA (visit its
                        <a href="http://hpfem.org/events/femtec-2009/">web page.</a></li>
                    </ul>
                </div>
                <div id="content">
                    {% block content %}
                        {% block message %}
                            {% if message %}
                                <div class="note success">
                                    {{ message }}
                                </div>
                            {% endif %}
                        {% endblock %}
                        <h1>
                            FEMTEC 2011
                        </h1>
                        <h3>
                            3rd International Conference on<br> Finite Element Methods in Engineering and Science
                            <br/>
                            May 9 - 13, 2011, Harvey's Casino and Resort<br> South Lake Tahoe, USA
                        </h3>
                        <p>
                            <b>FEMTEC 2011</b> is co-sponsored by the
                            <a href="http://www.unr.edu/">University of Nevada</a> (Reno),
                            <a href="http://www.dri.edu/">Desert Reseach Institute</a> (Reno),
                            <a href="https://inlportal.inl.gov/portal/server.pt?open=512&objID=255&mode=2">Idaho 
                               National Laboratory</a> (Idaho Falls, Idaho), and
                            <a href="http://www.erdc.usace.army.mil/">U.S. Army Engineer Research and Development 
                               Center</a> (Vicksburg, Mississippi),
                            The objective of the meeting is to strengthen the interaction between researchers
                            who develop new computational methods, and scientists and engineers from various fields 
                            who employ
                            numerical methods in their research. Specific focus areas 
                            of FEMTEC 2011 include, but are not limited to, the following:

                            <h3>Main Focus Areas</h3>
                            <ul>
                            </li>
                            <li> Computational methods in hydrology, atmospheric<br> modeling, and other earth sciences.
                            </li>
                            <li> Computational methods in nuclear, mechanical,<br> civil, electrical, and other engineering fields. 
                            </li>
                            <li> Scientific visualization. 
                            </li>
                            <li> Open-source projects and software in scientific computing.
                            </li>
                            </ul>
                        Part of the conference will be a software afternoon featuring 
                        open source projects.
                            
                        </p>
                        <h3>Proceedings</h3>
                        <p>
                            Proceedings of FEMTEC 2011 will appear as a special issue of
                            <a href="http://www.elsevier.com/wps/find/journaldescription.cws_home/505613/description#description">Journal 
                            of Computational and Applied Mathematics</a>
                            (2008 SCI impact factor 1.292), and additional high-impact international 
                            journals as needed.
                        </p>
                        <h3>Abstract Submission</h3>
                        <p>
                            In order to submit an abstract for FEMTEC 2011, click the "login" link
                            in the top-right corner of the page and follow the instructions.
                        </p>
                    {% endblock %}
                </div>
            </div>
            <div id="clearer"></div>
            <div id="footer">
                Copyright &copy; 2010-2011 <a href="http://hpfem.org">hp-FEM group</a>,
                <a href="http://www.unr.edu">University of Nevada, Reno</a>
            </div>
        </div>
    </body>
</html>

